@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.ttf')  format('truetype');
}


html {
    font-size: 16px;
    --bg1: #654062;
    --txt1: #FFD66B;
    --txt2: #F4F4F4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Raleway", monospace;
    background-color: var(--bg1);
}

body .hidden {
    display: none;
}
body .block {
    display: block;
}

.menuIconInStroke {
    stroke: var(--bg1);
}

.menuIconOutStroke {
    stroke: var(--txt1);
}

.menuIcon {
    height: 2rem;
    width: 2rem;
    position:fixed;
	top:2rem;
	right:2rem;
	text-align:center;
    cursor: pointer;
    z-index: 10;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: var(--txt1);
    overflow-x: hidden;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.menu .menuItemBox {
    width: 6rem;
    height: fit-content;
    border: 0.25rem solid var(--bg1);
    border-radius: 1rem;
    margin: 2rem 0 0 2rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    color: var(--bg1);

    cursor: pointer;
    background-image: linear-gradient(var(--bg1), var(--bg1));
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

body .menu .resume:hover {
    background-size: 100% 100%;
    color: var(--txt1);
}

.menu .menuItemBox:hover {
    background-size: 100% 100%;
    color: var(--txt2);
}

.menu h1 {
    font-size: 1rem;
}

.sections {
    position: relative;
    display: flex;
    flex-direction: column;
}

section {
    height: 100vh;
    width: auto;
}
.intro {
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}
.introMain {
    text-align: center;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.intro .firstBox {
    border: 0.25rem solid var(--txt1);
    border-radius: 1.25rem;
}

.intro .sideText {
    color: var(--txt2);
    letter-spacing: 0.50rem;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);

}

.intro h1 {
    font-weight: 800;
    font-size: 3rem;
    margin: 1rem 1rem 1rem 1.5rem;
}

.intro h2 {
    font-weight: 800;
    font-size: 2rem;
    margin: 0 0.5rem 0 0;
}

.type1 {
    color: var(--txt1);
    letter-spacing: 0.5rem;
} 

.type2 {
    color: var(--txt2);
    letter-spacing: 0.75rem;
}

.scrollBox {
    margin-bottom: 7%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scrollDown {
    height: 2rem;
    width: 2rem;
    position: relative;
    bottom: 3%;
    
}

.bounceUpDown {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(30px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(5px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.works {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resumeremind {
    margin-left: 8%;
    padding: 0.5rem;
    color: var(--txt2);
}

.journey {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}

.journeybuttons {
    /*
    -webkit-filter: drop-shadow( 0.1rem 0.1rem 0.05rem var(--txt1));
    filter: drop-shadow( 0.1rem 0.1rem 0.05rem var(--txt1));
    /* Similar syntax to box-shadow */
    fill: var(--txt2);

    transform: scale(2.0);
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    
    transition: all 2s ease-in-out 0.5s;
    -webkit-transition: all 2s ease-in-out 0.5s;
}

.floaticon {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: var(--txt1);
	border-radius:50px;
	text-align:center;
    display: none;
}

.mailicon {
    height: 20px;
    margin-top: 19px;
}

.aboutcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutpic {
    border: 0.25rem solid var(--txt1);
    border-radius: 1.25rem;
    overflow: hidden;
    background-size: 35rem;
    flex: 0 0 35%;
}

.aboutbox {
    padding: 3rem 1rem 3rem 3rem;
    margin: 1rem;
    font-size: 0.8rem;
    color: var(--txt2);
    border: 0.25rem solid var(--txt1);
    border-radius: 1.25rem;
    overflow: hidden;
    flex: 1;
    text-align: right;
}

#aboutimg {
    height: 16rem;
    padding: 2rem;
    /*
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    */
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    background-color: var(--txt1);
    color: var(--bg1);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.socialmediaicons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmediaicons a {
    display: inline-flex;
}

.linkedinimg {
    margin: 0rem 1rem 0rem 1rem;
    height: 2rem;
    width: 2rem;
}

.githubimg {
    margin: 0rem 1rem 0rem 1rem;
    height: 2rem;
    width: 2rem;
}

.twitterimg {
    margin: 0rem 1rem 0rem 1rem;
    height: 2rem;
    width: 2rem;
}

.contactme {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 2%;
}


@media screen and (max-width: 660px) {

    .about, .journey{
        height: auto;
        width: auto;
        margin-bottom: 10%;
    }

    section {
        height: 100vh;
        width: auto;
    }

    .aboutcontainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutpic {
        border: 0.25rem solid var(--txt1);
        border-radius: 1.25rem;
        overflow: hidden;
        background-size: 35rem;
        flex: 0 0 35%;
    }
    
    .aboutbox {
        padding: 3rem 1rem 3rem 3rem;
        margin: 1rem;
        font-size: 0.8rem;
        color: var(--txt2);
        border: 0.25rem solid var(--txt1);
        border-radius: 1.25rem;
        overflow: hidden;
        flex: 1;
        text-align: right;
    }
    
    #aboutimg {
        height: 16rem;
        padding: 2rem;
        /*
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        */
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        background-color: var(--txt1);
        color: var(--bg1);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
      }

      .contactme {
        font-size: 0.8rem;
        font-weight: 500;
        margin-right: 2%;
    }

}