.scramblecontainer {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.scrambletext {
  font-family: 'Raleway';
  font-size: 1rem;
  color: var(--txt1);
}
.dud {
  color: var(--txt1);
}